<main>
  <!-- Hero Area Start-->
  <div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap text-center">
              <h2>Cart List</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================Cart Area =================-->
  <div class="d-flex" *ngIf="checkDisplay===false">
    <span> Your shopping cart is empty <a href="shop">Shopping</a></span>
  </div>
  <section class="cart_area section_padding m-3 p-5" *ngIf="checkDisplay===true">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <form [formGroup]="formUpdateCart">
            <table class="table" formArrayName="listCartUpdate">
              <thead>
              <tr>
                <th scope="col" style="color: #0b1c39;font-size: 15px;font-weight: bolder;">Product</th>
                <th scope="col" style="color: #0b1c39;font-size: 15px;font-weight: bolder">Price</th>
                <th scope="col" style="color: #0b1c39;font-size: 15px;font-weight: bolder">Quantity</th>
                <th scope="col" style="color: #0b1c39;font-size: 15px;font-weight: bolder">Total</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let cart of listCartUpdate.controls, let i=index">
                <ng-container [formGroupName]="i">
                  <td>
                    <div class="media">
                      <input type="hidden" formControlName="idCart">
                      <div class="d-flex">
                        <img src="{{cart.value.image}}" alt=""/>
                      </div>
                      <div class="media-body">
                        <p>{{cart.value.goodsName}}-{{cart.value.categorySex}}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <h5>{{cart.value.price}}</h5>
                  </td>
                  <td>
                    <div class="product_count">
                      <input class="input-number" formControlName="quantity" type="number" [value]="cart.value.quantity"
                             min="0"
                             #quantity [readOnly]="check===true"
                             (change)="moneyProduct(cart.value.good,quantity.value)">
                    </div>
                  </td>
                  <td>
                    <h5>{{cart.value.quantity * formatNumber(cart.value.price)}}</h5>
                  </td>
                </ng-container>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>
                  <h5 style="color: darkblue;font-weight: bolder;font-size: 17px">Subtotal:</h5>
                </td>
                <td>
                  <h5>{{this.totalMoney}}</h5>
                </td>
              </tr>
              <tr class="bottom_button">
                <td>
                  <a  style="background-color: seagreen" class="btn_1 text-light font-weight-bold" href="shop">Continue Shopping</a>
                </td>
                <td></td>
                <td></td>
                <td>
                  <div class="cupon_text float-right">
                    <a [hidden]="check===true" style="background-color:crimson" class="btn_1 text-light font-weight-bold" (click)="openCheckOut()">Proceed to checkout</a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </form>
          <app-check-out *ngIf="check===true"></app-check-out>
        </div>
      </div>
    </div>
  </section>
  <!--================End Cart Area =================-->
</main>
