
<main>
  <!-- Hero Area Start-->
  <div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap text-center">
              <h2>Login</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Area End-->
  <!--================login_part Area =================-->
  <section class="login_part section_padding m-3 p-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <div class="login_part_text text-center">
            <div class="login_part_text_iner">
              <h2>New to our Shop?</h2>
              <p>There are advances being made in science and technology
                everyday, and a good example of this is the</p>
              <a href="#" class="btn_3">Create an Account</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="login_part_form">
            <div class="login_part_form_iner">
              <h3>Welcome Back ! <br>
                Please Sign in now</h3>
              <form class="row contact_form" [formGroup]="loginForm" method="post" novalidate="novalidate" >
                <div class="col-md-12 form-group p_star">
                  <i class="fas fa-user" style="color: #606060"></i>
                  <input type="text" class=" form-control" formControlName="username"  id="name" name="name" value=""
                         placeholder="Username">
                </div>
                <div class="col-md-12 form-group p_star">
                  <i class="fas fa-lock" style="color: #5f5f5f"></i>
                  <input type="password" class="form-control" id="password" name="password" value=""
                         placeholder="Password" formControlName="password">
                </div>
                <div class="col-md-12 form-group">
                  <div class="creat_account d-flex align-items-center">
                    <input type="checkbox" id="f-option" name="selector">
                    <label for="f-option">Remember me</label>
                  </div>
                  <button type="submit" value="submit" class="btn_3" (click)="onSubmitLogin()">
                    log in
                  </button>
                  <a class="lost_pass" href="#">forget password?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================login_part end =================-->
</main>
